body {
  font-family: 'Montserrat', sans-serif;
  text-align: center
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4.5rem
}

h2 {
  font-size: 2rem
}

h3 {
  font-size: 1.5rem
}



p {
  line-height: 1.;
}

/*sections*/

.section-normal {
  padding: 10% 15% 5% 15%;
}

.section-small-top {
  padding: 1% 15% 1% 15%;
}

.section-colored-bg {
  background-color: rgb(201, 89, 126);
}

.section-title-colored-bg {
  color: #fff;
  margin: 3% auto 3% auto
}

.section-title-colored-bg+p {
  color: #fff;
  margin: 2% auto 2% auto
}

.section-title-white-bg {
  color: rgb(158, 55, 90);
  margin: 3% auto 3% auto
}

.section-title-white-bg+p {
  color: rgb(158, 55, 90);
}

/* Navigation bar*/
#navigation {
  background: rgba(41, 101, 83, .8);
  position: fixed;
  display: block;
  z-index: 100;
}

.navbar {
  font-weight: bolder;
}

.navbar-brand {
  font-size: 1.7rem;
  padding-right: 5%;
  font-family: 'Marck Script';
}

a.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: rgb(230, 105, 147);
  text-decoration: none;
}

.navbar-toggler {
  border: solid 2px rgb(23, 153, 110);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke=' rgb(32, 199, 143)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*head image section*/
#head-image-section {
  background-color: rgb(158, 55, 90);
  color: #fff;
}

.main-pic-index {
  margin-top: 8%;
  width: 90%;
  float: left;
}

h4.head-pic-text {
  font-size: 4rem;
  text-decoration: none;
  float: left;
  margin-top: 12%;
  font-family: 'Marck Script', cursive;
  color: #fff;
}



@media screen and (max-width: 767px) {
  .main-pic-index {
    display: block;

  }

  .head-image-textbox {
    text-decoration: none
  }
}

/*values */
.value-box {
  padding: 5% auto 5% auto;
  margin: 5% auto 5% auto;
}

.fas {
  font-size: 1.5rem;
  color: rgb(7, 163, 111);
  margin-bottom: 3%;
}

.fas+p {
  font-size: 1.5rem;
  color: rgb(158, 55, 90);
  font-weight: bolder;
}

.fas+p+span {
  color: gray;
  font-size: 1rem;
}

/*testimonials */
.testimonial-text {
  font-weight: bolder;
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 50%;
  margin-top: 2%;
}

/*newsletterform*/
.applyForNewsletter h2 {
  margin: 0% auto 5% auto;
  color: rgb(158, 55, 90);
}


.newsletter-icon {
  width: 30%;
  margin: 3%;
}

p.newsletterTopicListItem {
  color: gray;
  font-size: 0.85rem
}

.newsletter-topic-box {
  padding: 5% 5% 0 5%
}

.applyForNewsletterMediumBtn {
  margin-top: 20px;
  vertical-align: middle;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  display: inline-block;
  background-color: rgb(90, 84, 86);
}

.btn:hover {
  border: none;
  background-color: rgb(219, 103, 103);
}

/* Tooltip */


.tooltip-inner {
  max-width: 300px;
  font-family: 'Montserrat', sans-serif;
  height: auto;
  font-size: 0.8rem;
  padding: 10px;
  background-color: rgb(158, 55, 90);
  color: #fff;
  text-align: left;
}



/* klienta pieteikšanās forma iekš PIETEIKTIEs pogas */
.clientForm {
  background-color: rgb(245, 240, 240);
  padding: 10px 20px 20px 20px;
}

#applyNewsModal {
  text-align: left;
}

.button-wrapper {
  text-align: center
}

.form-check-label {
  font-size: 75%;
  margin-left: 20px;
}

#agree-terms :hover {
  cursor: pointer;
}

#agree-terms span {
  color: rgb(17, 17, 168);
}

#agree-terms span:hover {
  text-decoration: underline;
}

p.validation-box {
  color: rgb(219, 35, 96);
  background-color: blueviolet;
}

/*map section*/
i.location-icon {
  color: #fff;
}



/* pricing page */
section.small-top {
  padding: 2% 12% 7% 12%;
}

.card-header {
  font-weight: bolder;
  font-size: 1.5rem;
  color: rgb(158, 55, 90);
}

.card-body h2 {
  font-weight: bolder;
  margin-bottom: 13%;
  color: rgb(158, 55, 90)
}

.card-body p {
  color: gray;
  line-height: 1.2
}

.buy-btn {
  margin-top: 20px;
  vertical-align: middle;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  display: inline-block;
  background-color: rgb(90, 84, 86);
  color: #fff
}

.pricing-column {
  padding: 3%;
}

/* contact Us page*/
.sendMessagebutton {
  background-color: rgb(90, 84, 86);
  border: none;
  margin: 4% auto 4% auto;
}

.sendMessagebutton:hover {
  background-color: rgb(219, 103, 103)
}

.headline {
  margin-top: 5%;
  padding-top: 2%;
  background-color: rgb(158, 55, 90);
  border-radius: 3%;
  color: #fff;

}

.checkbox {
  font-size: 75%;
  margin: 5% auto 0 auto;
  display: block;
  color: white;
}

.checkbox a {
  color: navy;
}

.close {
  text-align: right;
  margin: 2% 2% auto auto
}

#privacyPolicyModal {
  font-size: 0.75rem;
  color: rgb(66, 66, 66);
  text-align: left;


}

#privacyPolicyModal .modal-content {
  padding: 2%
}

.modal-title {
  text-align: center;
}


ol.privacyPolicy-list li {
  margin: 2%
}

#whyWeDowhatWeDo img {
  width: 100%;
}

.img-parallax img {
  width: 50%;
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

/*footer*/
.footer {
  overflow: hidden;
  bottom: 0px;
  font-size: 85%;
  margin-top: 100px;
}

#footerelement {
  color: rgb(66, 66, 66);
}