body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4.5rem
}

h2 {
  font-size: 2rem
}

h3 {
  font-size: 1.5rem
}



p {
  line-height: 1.;
}

/*sections*/

.section-normal {
  padding: 6% 15% 5% 15%;
}

.section-small-top {
  padding: 1% 15% 1% 15%;
}

.section-colored-bg {
  background-color: rgb(201, 89, 126);
}

.section-title-colored-bg {
  color: #fff;
  margin: 3% auto 3% auto
}

.section-title-colored-bg+p {
  color: #fff;
  margin: 2% auto 2% auto
}

.section-title-white-bg {
  color: rgb(158, 55, 90);
  margin: 3% auto 3% auto
}

.section-title-white-bg+p {
  color: rgb(158, 55, 90);
}

/* Navigation bar*/
#navigation {
  background: rgba(41, 101, 83, .8);
  position: fixed;
  display: block;
  z-index: 10;

  font-size: 1.25rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  padding-left: 2%;
  width: 100%;
  transition: 0.2s;
}



.navbar {
  font-weight: bolder;
}

img.navbar-logo {
  height: 30px;
  margin-right: 2%;
}

.navbar-brand {
  font-size: 1.7rem;
  padding-right: 5%;
  font-family: 'Marck Script';
}

a.nav-link {
  color: #fff;
}

/* since doesnt work on parallax, i commented it out

.smallerNavfontOnScroll {
  font-size: 1rem;
  color: rgb(12, 68, 68)
}
*/
.nav-link:hover {
  color: rgb(230, 105, 147);
  text-decoration: none;
}

.navbar-toggler {
  border: solid 2px rgb(255, 255, 255);
}



.navbar-toggler-icon {

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*head image section*/
#head-image-section {
  background-color: rgb(158, 55, 90);
  color: #fff;
}

.main-pic-index {
  margin-top: 8%;
  width: 90%;
  float: left;
}

.main-pic-index:hover {
  animation: shake 0.5s;

  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

h4.head-pic-text {
  font-size: 4rem;
  text-decoration: none;
  float: left;
  margin-top: 12%;
  font-family: 'Marck Script', cursive;
  color: #fff;
}



@media screen and (max-width: 767px) {
  .main-pic-index {
    display: block;

  }

  .head-image-textbox {
    text-decoration: none
  }
}

/*values */
#values {
  text-align: center;
}

.value-box {
  padding: 5% auto 5% auto;
  margin: 5% auto 5% auto;
}

.fas {
  font-size: 1.5rem;
  color: rgb(23, 153, 110);
  margin-bottom: 3%;
  padding-right: 2%;
  vertical-align: center;
}

.fas+p {
  font-size: 1.5rem;
  color: rgb(158, 55, 90);
  font-weight: bolder;
}

.fas+p+span {
  color: rgb(90, 84, 86);
  font-size: 1rem;
}

/*testimonials */
.testimonial-text {
  font-weight: bolder;
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 50%;
  margin-top: 2%;
}

/*newsletterform*/
.applyForNewsletter h2 {
  margin: 0% auto 5% auto;
  color: rgb(158, 55, 90);
}


.newsletter-icon {
  width: 30%;
  margin: 3%;
}

p.newsletterTopicListItem {
  color: rgb(90, 84, 86);
  font-size: 0.85rem
}

.newsletter-topic-box {
  padding: 5% 5% 0 5%
}

.applyForNewsletterMediumBtn {
  margin-top: 20px;
  vertical-align: middle;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  display: inline-block;
  background-color: rgb(90, 84, 86);
}

.btn:not(.btn-link):hover {
  border: none;
  background-color: rgb(219, 103, 103);
}



/* Tooltip */


.tooltip-inner {
  max-width: 300px;
  font-family: 'Montserrat', sans-serif;
  height: auto;
  font-size: 0.8rem;
  padding: 10px;
  background-color: rgb(158, 55, 90);
  color: #fff;
  text-align: left;
}



/* klienta pieteikšanās forma iekš PIETEIKTIEs pogas */
.clientForm {
  background-color: rgb(245, 240, 240);
  padding: 10px 20px 20px 20px;
}

#applyNewsModal {
  text-align: left;
}

.button-wrapper {
  text-align: center
}

.form-check-label {
  font-size: 75%;
  margin-left: 20px;
}

#agree-terms :hover {
  cursor: pointer;
}

#agree-terms span {
  color: rgb(17, 17, 168);
}

#agree-terms span:hover {
  text-decoration: underline;
}

p.validation-box {
  color: rgb(219, 35, 96);
  background-color: blueviolet;
}

/*map section*/
i.location-icon {
  color: #fff;
}



/* pricing page */
section.small-top {
  padding: 2% 12% 7% 12%;
}

.card-header {
  font-weight: bolder;
  font-size: 1.5rem;
  color: rgb(158, 55, 90);
}

.card-body h2 {
  font-weight: bolder;
  margin-bottom: 13%;
  color: rgb(158, 55, 90)
}

.card-body p {
  color: rgb(90, 84, 86);
  line-height: 1.2
}

.buy-btn {
  margin-top: 20px;
  vertical-align: middle;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  display: inline-block;
  background-color: rgb(90, 84, 86);
  color: #fff
}

.pricing-column {
  padding: 3%;
}

/* contact Us page*/
.sendMessagebutton {
  background-color: rgb(90, 84, 86);
  border: none;
  margin: 4% auto 4% auto;
}

.sendMessagebutton:hover {
  background-color: rgb(219, 103, 103)
}

.headline {
  margin-top: 5%;
  padding-top: 2%;
  background-color: rgb(158, 55, 90);
  border-radius: 3%;
  color: #fff;

}

.checkbox {
  font-size: 75%;
  margin: 5% auto 0 auto;
  display: block;
  color: white;
}

.checkbox a {
  color: navy;
}

.close {
  text-align: right;
  margin: 2% 2% auto auto
}

#privacyPolicyModal {
  font-size: 0.75rem;
  color: rgb(90, 84, 86);
  text-align: left;


}

#privacyPolicyModal .modal-content {
  padding: 2%
}

.modal-title {
  text-align: center;
}


ol.privacyPolicy-list li {
  margin: 2%
}



.btn-link {
  color: rgb(158, 55, 90);
  margin-top: 5%;
  text-transform: uppercase;

}

.btn-link:hover {
  text-decoration: none;
}



/* recipe */


.sub-section-ingredients {
  line-height: 2rem;
  color: rgba(41, 101, 83, .8);

}

.list-name {
  font-weight: bold;
  font-size: 0.95rem;
  color: rgba(41, 101, 83, .8);

}

.prep-item {
  list-style-type: decimal;


}



.prep-item:hover {
  font-weight: bold;

}

.left-side {
  text-align: right;
}

.right-side {
  text-align: left
}

/* Tiny reset thingy */
.wrapper {
  font-size: 0.8rem;
  color: rgb(90, 84, 86);
  line-height: 1.8rem;
  margin: 0;
  padding: 0;
  overflow: hidden;

  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.recipe-title-white-bg {
  color: rgb(158, 55, 90);
  text-align: center
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  text-align: right
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1.5px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

.recipe-text-box {
  padding: 7% 5% 10% 5%;
  background: white;
  text-align: justify
}

.recipe.mid-section {
  height: 40%;
  padding: 5% 10%;
  text-align: center;

}



/* The styling for the static div. */
.static {
  background: rgb(255, 255, 255);
}

/* Sets the actual background images. This part is crucial. */
.bg1::after {
  background-image: url('https://img.taste.com.au/IZ1M9xGU/w720-h480-cfill-q80/taste/2018/08/this-is-how-to-help-the-strawberry-farmers-140532-4.jpg');
  width: 100%;
  margin-top: 13%;
}


.bg2::after {
  background-image: url('https://realfood.tesco.com/media/images/RFO-Hero-636x418-Straberries-5ad12a85-bb67-4a6c-be5b-4c1f74acc25c-0-636x418.jpg');
  width: 100%;
  margin-top: 13%;

}


.bg3::after {
  background-image: url('https://images-gmi-pmc.edge-generalmills.com/7e04729d-4fcb-4aa3-bf64-912f3e5bb0ee.jpg');
  width: 100%;
  margin-top: 13%;

}

/*footer*/
.footer {
  overflow: hidden;
  bottom: 0px;
  font-size: 85%;
  margin-top: 100px;
}

#footerelement {
  color: rgb(90, 84, 86);
}