body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 800;
  text-shadow: #644d51;
}

h2 {
  font-family: 'Montserrat';
  font-weight: bolder;
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat-Bold';
  font-size: 1.5rem;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}


p {
  line-height: 1.5;
}


/* Navigation bar*/
.navbar {
  margin: 1% 0 1% 0;
  padding: 0% 10% 1% 10%;

}

.navbar-brand {
  color: rgb(8, 138, 95);
  font-size: 2rem;
  padding-right: 10%;
  font-family: 'Marck Script';

}

a.nav-link {
  color: rgb(7, 163, 111);
  font-weight: bolder;

}

.nav-link:hover {
  color: rgb(3, 70, 47);
  font-weight: bolder;
  text-decoration: none;
}

.navbar-toggler {
  border: solid 2px rgb(32, 199, 143);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke=' rgb(32, 199, 143)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.sticky {
  z-index: 10;
  position: fixed;

}

/*head image section*/
#head-image-section {
  padding: 5% 10% 0% 10%;
  background-color: rgb(158, 55, 90);
  color: #fff;

}


.main-pic-index {
  width: 90%;
  margin: 30px 40px 50px 0;
  float: left;
}


.head-pic-text {
  color: rgb(44, 24, 24);
  font-size: 4rem;
  text-decoration: none;
  float: center;
  margin-top: 15%;
  font-family: 'Marck Script', cursive;
  color: #fff;
  width: 85%;
}


.head-image-textbox :hover {
  text-decoration: none
}



/*values */
#values {
  padding: 5% 10% 5% 10%;
  text-align: center
}


.value-box {
  padding: 5%;
}



.fas {
  font-size: 1.5rem;
  color: rgb(7, 163, 111);
  margin-bottom: 3%;
}

.fas+p {
  font-size: 1.5rem;
  color: rgb(158, 55, 90);
  font-weight: bolder;
}

.fas+p+span {
  color: gray;
  font-size: 1rem;
}

/*šķirnes */
#testimonials {
  background-color: rgb(201, 89, 126);
  padding: 2% 10% 10%;
  text-align: center;
}


.testimonials-section {
  color: #fff;

}

.testimonial-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.testimonial-img {
  width: 10%;
  border-radius: 50%;
  margin-top: 2%;

}


/*newsletterform*/

#newsletter {
  padding: 2% 10% 10%;
  text-align: center;
}

.applyForNewsletter h2 {
  margin: 0% auto 5% auto;
  color: rgb(158, 55, 90);
}


ul.newsletterTopics {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li.newsletterTopicListItem {
  display: inline;
  margin-right: 12%;
  color: darkgray
}

.newsletter-icon {
  width: 4%;
  margin-right: 1%
}


.applyForNewsletter {
  text-align: center;
  margin-top: 5%
}

.btn {
  margin-top: 20px;
  vertical-align: middle;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  display: inline-block;
  background-color: rgb(158, 55, 90);
}

.btn:hover {
  border: none;
  background-color: rgb(219, 103, 103);
  box-shadow: none;
}


.clientForm {
  background-color: rgb(245, 240, 240);
  padding: 10px 20px 20px 20px;
}


#applyNewsModal {
  text-align: left;
}

.button-wrapper {
  text-align: center;
}

.pieteikties-jaunumiem {
  background-color: rgb(158, 55, 90)
}

.form-check-label {
  font-size: 75%;
  margin-left: 20px;
}

#agree-terms :hover {
  cursor: pointer;
}


#ourLocationSection {
  background-color: rgb(201, 89, 126);
  padding: 5% 10% 5% 10%;
  text-align: center;
}

.ourLocation h2 {
  color: #fff;
}

/* pricing page */
#pricing {
  background-color: rgb(158, 55, 90);
  padding: 5% 10% 10%;
  text-align: center;
}

.section-title-pink-bg {
  color: #fff;
  margin: 3% auto 3% auto
}

.section-title-pink-bg+p {
  color: #fff;
  margin: 2% auto 2% auto
}

.card-header {
  font-weight: bolder;
  font-size: 1.5rem
}

.buy-btn {

  color: #fff;

}

.pricing-column {
  padding: 3%;
}

/* contact Us page*/
#contactUs {
  padding: 5% 10% 5% 10%;


}

.headline {
  margin-top: 5%;
  padding-top: 2%;
  background-color: rgb(158, 55, 90);
  border-radius: 3%;
  text-align: center;
  color: #fff;
}


.checkbox {
  font-size: 75%;
  margin-left: 20px;
}

#checkbox_gdpr:hover {
  cursor: pointer;
}

label.checkbox :hover {
  cursor: pointer;
}


.sendMessagebutton {
  background: rgb(7, 163, 111);
  background-image: -webkit-linear-gradient(top, rgb(7, 163, 111), #13D09E);
  background-image: -moz-linear-gradient(top, rgb(7, 163, 111), #13D09E);
  background-image: -ms-linear-gradient(top, rgb(7, 163, 111), #13D09E);
  background-image: -o-linear-gradient(top, rgb(7, 163, 111), #13D09E);
  background-image: linear-gradient(to bottom, rgb(7, 163, 111), #13D09E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 100;
  padding: 2% 1% 2% 1%;
  text-decoration: none;
  display: block;
  cursor: pointer;

}

.sendMessagebutton:hover {
  background: #D03A62;
  background-image: -webkit-linear-gradient(top, #D03A62, #F64F76);
  background-image: -moz-linear-gradient(top, #D03A62, #F64F76);
  background-image: -ms-linear-gradient(top, #D03A62, #F64F76);
  background-image: -o-linear-gradient(top, #D03A62, #F64F76);
  background-image: linear-gradient(to bottom, #D03A62, #F64F76);
  text-decoration: none;
}


/*footer*/
#footer {
  padding: 5% 10% 5% 10%;

}

.footer {
  overflow: hidden;
  bottom: 0px;
  font-size: 85%;
  text-align: center;
  margin-top: 100px;
}

#footerelement {
  color: rgb(66, 66, 66);
}